<h1> Edit </h1>

<%= form_with model: @roomimage, url:room_roomimage_path(@roomimage.room,@roomimage) do |form| %>
   <p>
    <%= form.label :photo , class: "form-label" %>
    <%= form.file_field :photo, class:"form-text" , style: "color: #b9936c" %>
  </p>
   <p>
    <%= form.label :name, class: "form-label"  %>
    <%= form.text_field :name, class:"form-text" , style: "color: #b9936c" %>
  </p>
  <div>
    <%= form.label :pictures,class: "form-label" %>
    <%= form.file_field :pictures, :multiple => true,class:"form-text" , style: "color: #b9936c"  %>
  </div>
  <p>
    <%= form.submit "Edit", class: "btn-custom" %>
  </p>
<% end %>