
<%= form_with(model: room) do |form| %>
  <% if room.errors.any? %>
    <div >
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
        <% room.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name ,class: "form-label"%>
    <%= form.text_field :name, class:"form-text" , style: "color: #b9936c" %>
  </div>
   <div>
    <%= form.submit "Create Room", class: "btn-custom" %>
  </div>
<% end %>